body, html {
	height: 100%;
    font-size: 40vw;
}

button {
	width: 100%;
    height: 100%;
}

.triangle {
	fill:rgb(91, 192, 222);
	stroke: white;
	stroke-width:2
}

.drawing {
	height: 100%;
	width: 100%;
}

.plain {
	height: 100%;
    width: 100%;
}

.part1 {
	height: 5%;
}

.part2 {
	height: 85%;
}

.part3 {
	height: 10%;
}

#speedInfo {
    font-size: 1.4em;
}